body {
    margin: 100px;
}
.grayfont {
    background-color: black;
    border-radius: 20px;
    padding: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 700px;
}
h2 , p {
    color: aliceblue;
}
.button {
    color: aliceblue;
    background-color: blue;
    padding: 6px;
    border-radius: 10px;
    border: 2px solid gray;
}
input {
    width: 150px;
    padding: 10px ;
    margin: 20px ;
    border: 2px solid gray;
}
.picture {
    display: flex;
    flex-wrap: wrap;
}